// variables

$dark: #043c8c;
$main: #0b75b4;
$light: #6487ba;
$secondary: #fa7f07;

// maps
$font-weights: ("light": 300, "regular": 400, "medium": 500, "bold": 700);
$dark-shades: ("A": #8cbafb, "B": #6aa5fa, "C": #4790f9, "D": #247cf8, "E": #0668f2, "F": #0559d0, "G": #044aad, "H": #033b8a, "I": #022c68, "J": #011d45);
$main-shades: ("A": #adc0da, "B": #95adcf, "C": #7c99c4, "D": #6386b9, "E": #4c74ac, "F": #416394, "G": #36527b, "H": #2b4262, "I": #20314a, "J": #152131);
$light-shades: ("A": #90d1f8, "B": #6ec3f6, "C": #4db5f4, "D": #2ba8f2, "E": #0e99eb, "F": #0c83c9, "G": #0a6da8, "H": #085786, "I": #064164, "J": #042b43);
$secondary-shades: ("A": #fcc38c, "B": #fbb169, "C": #fb9f46, "D": #fa8d23, "E": #f47b04, "F": #d16904, "G": #ae5803, "H": #8b4602, "I": #683402, "J": #452301);
